<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8"/>
	<title>Helpster | Login</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta content="" name="description"/>
	<meta content="" name="author"/>

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
	<link href="/public/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="/public/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
	<link href="/public/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/public/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<link href="/public/assets/admin/pages/css/login.css" rel="stylesheet" type="text/css"/>

	<link href="/public/assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css"/>
	<link href="/public/assets/global/css/plugins-md.css" rel="stylesheet" type="text/css"/>
	<link href="/public/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
	<link href="/public/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="/public/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="stylesheet" href="/public/assets/css/style.css">
</head>

<body class="page-md login">

	<div class="menu-toggler sidebar-toggler">
	</div>
	<style>
	.logo a:hover { text-decoration: none; color:#FFFFFF}
	.login {
		background-color: #FF5733  !important;
	}
</style>

<!-- <div class="logo">
<a href="#" style="color:#CCCCCC; font-size:24px;">
<img src="/public/assets/img/logos.png" alt="HELPSTER"/>
</a>
</div> -->
<div id="notifications"></div>
<div class="content">


		<h3 class="form-title"><img src="/public/assets/img/todo-list-356032.ico" alt="HELPSTER"/></h3>
		<div style="margin-bottom: 5px" class="input-group">
			<p style="color:#CC0000"></p>
		</div>

		<div class="form-group">
			<span id="show_response" style="color:red;"></span>
			<label class="control-label visible-ie8 visible-ie9">Email</label>
			<input type="text" placeholder="Email" id="username" required="required" name="username" onclick="clear_msg();"   class="form-control"  />
			<span id="username_error" style="color:red;"></span>
		</div>
		<div class="form-group">
			<span id="email1" style="color:red;margin-left:120px" ></span>
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<input type="password" placeholder="Password" name="password" id="password" required="required" class="form-control"/>
			<span id="password_error" style="color:red;"></span>
		</div>
		<div class="form-actions">
			<button onclick="proceed();" class="btn" style="font-size: 18px;
			margin: 16px 0;color: #ffffff;background-color: #007074;width: 25%;"> <i class="fa fa-refresh fa-spin" style="display:none" id="logs"></i><span id="_logid">Login</span></button>

		</div>


	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
	<script src="/public/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
	<script src="/public/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
	<script src="/public/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/public/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
	<script src="/public/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
	<script src="/public/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	<script src="/public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
	<script src="/public/assets/js/Notify.js"></script>
	<script>
	jQuery(document).ready(function() {

	});
	function proceed()
	{

		var username=$('#username').val();
		var password=$('#password').val();
		if(username==""){
			 Notify("Email is Required", null, null, 'danger');
			return false;
		}
		var s= validemail();
		if(s==0) {
		 Notify("Email is not Valid", null, null, 'danger');
			return false;
		}
		if(password=="") {
		 Notify("Password is Required", null, null, 'danger');
			return false;
		}
			$('#logs').show();
			$('#_logid').html('');

		$.ajax({
			url: '/admin/login',
			type: 'post',
			data:{'username':username,'password':password},
			dataType:'json',
			success: function(response) {
				console.log(response);
					

						$('#logs').hide();
							$('#_logid').html('Login');
				if(response.status == true)
				{
							if(response.flag == 1)
							{
								 Notify("Invalid Username or Password", null, null, 'danger');
							}
							else
							{
										var url = "/admin/helper";
								  console.log($(location).attr('href',url));

							}
				}
				else {
					 for(var errors=0;response.message.length>0;errors++)
					 {
						  Notify(response.message[errors].msg, null, null, 'danger');
					 }
				}


			},
			error : function (response){


			}
		});

	}
	function clear_msg()
	{
		$('#username_error').html('');
		$('#password_error').html('');
		$('#forgot_error').html('');
		$('#notem').html('');
	}
	function validemail() {
		var x = $('#username').val();
		var atpos = x.indexOf("@");
		var dotpos = x.lastIndexOf(".");
		if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {

			return 0;
		}
	}
</script>

</body>

</html>
